{% load static %}

{#USERS#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'website:session-list' %}">
        <i class="bx bx-image mr-2"></i>Images
    </a>
</li>


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'website:home' %}">
        <i class="bx bx-fingerprint mr-2"></i>Scan Face
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}