{% extends 'core/base.html' %}
{% csrf_token %}
{% block base_links %}
    <style>
        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

        form > input {
            margin-right: 15px;
        }

        #results {
            float: right;
            margin: 20px;
            padding: 20px;
            border: 1px solid;
            background: #ccc;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">

                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">Scan Your Face</p>
                    <p class="mb-0 card-text">Make sure your face is clear to camera for better results.</p>
                </div>
                <div class="card-body border-bottom">
                    <div id="my_camera"></div>
                    <script type="text/javascript" src="https://pixlcore.com/demos/webcamjs/webcam.min.js"></script>
                    <script language="JavaScript">
                        Webcam.set({
                            width: 500,
                            height: 400,
                            image_format: 'jpeg',
                            jpeg_quality: 100
                        });
                        Webcam.attach('#my_camera');
                    </script>
                </div>
                <div class="card-body border-bottom">
                    <h5 id="text_status" style="color: red; font-weight: bold">Start Session</h5>
                </div>

                <div class="card-body border-bottom">
                    <button id="start" class="btn btn-dark my-2" onclick="startClicked()" type="submit"><i
                            class="fa fa-camera"></i> Start
                        Session
                    </button>
                    <button id="stop" class="btn btn-danger my-2" onclick="stopClicked()" type="submit"><i
                            class="fa fa-stop"></i> Stop Session
                    </button>

                </div>

                <div class="card-body">
                    <img id="scanned_image_id" class="img-responsive img-fluid">
                    <p class="mb-0 h1 mt-3">Status</p>
                    <p id="status_id" class="mb-0 card-title mb-0 font-size-60">THIS IS STATUS</p>
                    <p class="mb-0 h1">Stress Level</p>
                    <p id="stress_level" class="mb-0 card-title mb-0 font-size-60">THIS IS STRESS LEVEL</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block base_external_scripts %}
    <script>
        var seconds = 0;
        var isSessionStarted = false;
        var timer;

        function startTimer(duration, display, session_id) {
            timer = setInterval(function () {
                seconds += 1;
                console.log("INSIDE TIMER " + seconds);
                Webcam.snap(function (data_uri) {
                    $.post('/website/image/', {'image': data_uri, 'session_pk': session_id}, function (data) {
                        console.log(data);
                        if (data['stress_level'] > 2)
                            document.getElementById("scanned_image_id").src = data['image_url'];
                        document.getElementById("stress_level").textContent = data['stress_level'] + "%";
                        document.getElementById("status_id").textContent = data['status'];
                    });
                });
            }, 400);
        }

        function startClicked() {
            if (!isSessionStarted) {
                $.get('/website/start/session/', function (data) {
                    var session_id = data.session_pk;
                    $('#text_status').text("Session Started");
                    var fiveMinutes = 60 * 5,
                        display = document.querySelector('#time');
                    startTimer(fiveMinutes, display, session_id);
                    isSessionStarted = true;
                });
            }
        }

        function stopClicked() {
            if (isSessionStarted) {
                $('#text_status').text("Session Stopped");
                clearInterval(timer);
                isSessionStarted = false;
                var delayInMilliseconds = 1000; //1 second

                setTimeout(function () {
                    window.location = "/website/";
                }, delayInMilliseconds);

            }
        }

    </script>
{% endblock %}